* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

header {
    margin: 0;
    width: 15%;
    height: 100vh;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 100;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #9F1212;
    box-sizing: border-box;
    z-index: 1;
}
html{
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    flex-direction: column;
}

main {
    margin: 0;
    padding-top: 15px;
    margin-left: 25%;
    margin-bottom: 0%;
    height: auto;
}


main h1 {
    font-size: 500%;
    color: #B5B5B5;
}

main h2 {
    font-size: 300%;
    color: #505050;
}
main h3 {
    font-size: 200%;
    color: #ffffff;
}

.text {
    margin-left: 2%;
}

.side-bar {
    margin: 0;
}



.side-bar-content {
    list-style: none;
    padding: 0;
    padding-top: 10%;
    padding-left: 10%;
    background-color: #9F1212;
    color: aliceblue;
}

.side-bar-content li {
    background-color: #9F1212;
    margin-top: 10%;
}

.side-bar-content a {
    text-decoration: none;
    outline: none;
    color: #DEDEDE;
    font-size: 1vmin;
    background-color: #9F1212;
}

@media screen and (min-width:500px) {
    .side-bar-content a {
        font-size: 2vmin;
    }

}

@media screen and (min-width:1500px) {
    .side-bar-content a {
        font-size: 3vmin;
    }
}

.side-bar-content img {
    background-color: #9F1212;
    height: 30px;
    margin-bottom: 30px;
    display: block;
}

@media screen and (min-width:500px) {
    .side-bar-content img {
        height: 50px;
    }

}

@media screen and (min-width:700px) {
    .side-bar-content img {
        height: 80px;
    }

}

@media screen and (min-width:900px) {
    .side-bar-content img {
        height: 100px;
    }

}

@media screen and (min-width:1200px) {
    .side-bar-content img {
        height: 130px;
    }
}

@media screen and (min-width:1500px) {
    .side-bar-content img {
        height: 150px;
    }
}

.rightbar::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    margin-left: 71%;
    /*線の形状*/
    width: 1%;
    height: 100%;
    background: #440303;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 3s ease-in-out infinite;
    opacity: 0;
    z-index: 1;
}

@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 50%;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 99%;
        opacity: 0;
    }
}


.profile img {
    margin: auto;
    display: block;
}

.profile-content{
    margin: 10%;
}
.profile-content a{
    font-size: 10%;
}

.top-content {
    margin-top: 15%;
}

.top-content h1 {
    font-size: 8vmin;
    color: #B5B5B5;
}

.top-content h2 {
    font-size: 5vmin;
    color: #505050;
    margin: 0;
}

.timeline {
    list-style: none;
}

.timeline>li {
    margin-bottom: 60px;
}

.timeline a{
    color: hsl(204, 100%, 50%);
}
/* for Desktop */
@media (min-width : 640px) {
    .timeline>li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }

    .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }

    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
    }

    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #6fc173;
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%;
    }

    .history h3,
    p {
        color: #ffffff;
    }

    .history h3{
        font-size: 130%;
    }
    .timeline-content img {
        height: 50px;
    }
}


/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    color: #fff;
}

/* Loading画像中央配置　*/
#splash_text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
}


/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}

/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}

/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}

.skill-table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    color: #ffffff;
}


.skill-table th {
    padding: 10px;
    border-bottom: solid 4px #778ca3;
    color: #778ca3
}

.skill-table td {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
}
.certification-table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    color: #ffffff;
}


.certification-table th {
    padding: 10px;
    border-bottom: solid 4px #778ca3;
    color: #778ca3
}

.certification-table td {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
}
.slider img {
    width:80%;/*スライダー内の画像を横幅100%に*/
    height:80%;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.slider .slick-slide {
    margin:0;/*スライド左右の余白調整*/
}

.slider svg{
    width: 80%;
}

.contact-img img{
    height: 100px;
    margin: 50px;
}
.mail{
    margin-top: 20vmin;
    margin: 10vmin;
}
.mail a{
    width: auto;
    text-decoration: none;
    outline: none;
    color: #B5B5B5;
    font-size: 3vmin;
    text-align: center;
}
.contact-twitter{
    padding: 3vmin;
}
footer{
    text-align: center;
    width: 100%;
    position: relative;
    padding-bottom: 3px;
}
.copy-right p{
    color: #ffffff;
    font-size: 2vmin;
}
.footer-top{
    position: absolute ;
    bottom: 0;
}


.td-second{
    text-align: left;
}

.name h2{
    color: rgb(255, 255, 255);
    margin: 0;
}
.name h3{
    margin: 1%;
    color: #878787;
}
.univercity{
    margin-right: 50%;
    margin-top: 5%;
}

.univercity p{
    font-size: 2vmin;
}

.certification{
    margin-top: 5%;
}

.service{
    margin-top: 5%;
}

.timeline h2{
    margin-top: 10%;
}


/* --------- product -------------*/
.product{
    margin-bottom: 5%;
}
.product img{
    height: 30vmin;
}
.product p{
    margin-right: 10%;
}
.product a{
    width: auto;
    text-decoration: none;
    outline: none;
    font-size: 2vmin;
    text-align: center;
}
.product-download{
    color: #77f364;
}
.product-link{
    color: hsl(204, 100%, 50%);
}
.product-table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    color: #ffffff;
}


.product-table th {
    min-width: 10vmin;
    padding: 10px;
    border-bottom: solid 4px #778ca3;
    color: #778ca3
}

.product-table td {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
}

.signage{
    margin-top: 5%;
}